body {
    background-color: #292929;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}
.image{
    width: 150px;
    height: 150px;
    border-radius :10px;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.momo-signature-regular   a{
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  outline: none;
}
.order{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border{
  border: 10px solid #3b3bff;
  border-radius:30px ;
}
.header_right{
  gap: 30px;
  margin: 10px;
}
.header_left{
  gap: 30px;
  margin: 10px;
}
.main_left{
  padding:50px;
  margin: 20px;
  min-height: 400px;
  max-width: 500px;
}
.main_right{
  min-width: 700px;
  min-height: 400px;
  margin: 10px;
  padding: 15px;
}
header{
  margin: 10px;
  min-height: 250px;
  padding: 10px 50px;
}
.section_bottom{
  margin-top: 30px ;
}
.descreption{
  margin-left: 20px;
  font-size: 35px;
}
footer{
  min-height: 250px;
  padding: 10px 50px;
}
.social_media section img{
  width: 150px;;
}
.social_media{
  gap: 150px;
  margin: 0 30px;
}
.social_media section a{
  min-height: 80px;
  border-radius: 30px;
  min-width: 250px;
  font-size: 40px;
  padding-left: 10px;
  
}
.instagram:hover{
  background-color: #eb759d;
  color: rgb(235, 25, 210);
  cursor: pointer;
}
.facebook:hover{
  background-color: #5274bc;
  color: #00f6f6;
  cursor: pointer;
}
.facebook{
  background-color: #3b5998;
  color: #0000ff;

}
.instagram{
  background-color: #e1306c;
  color: #ffbe3b;
}
input[type="text"]{
  max-width: 500px;
  min-height: 60px;
  border-radius: 30px;
  padding: 0 100px 0 20px;
  font-size: 20px;
  border: none;
  color: #5f00d3;
  background-color: #b5ddff;
  font-family:permanent-marker-regular;
  outline: none;
}
.search{
  min-height:60px;
  border-radius: 30px;
  min-width: 150px;
  font-size: 25px;
  background-color: #00ffea;
  color: #0000ff;
  position:absolute;
  left:530px;
}
.search:hover{
  background-color: #00c8b2;
  color: #00ffea;
  cursor: pointer;
}
.button{
  min-height:60px;
  border-radius: 30px;
  min-width: 150px;
  font-size: 25px;
  background-color: #011210;
  color: #41008e;
}
.button:hover{
  background-color: #41008e;
  color: #00ffea;
  cursor: pointer;
}
label{
  font-size: 25px;
  margin-left: 50px;
  padding-left: 15px;
  
}